
.name-page {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    font-family: 'Inter';   
}

.fon { 
    background-image: url(img/собор.png); 
    background-size: 100% ;
    background-repeat: no-repeat;
    width: 100%;
    height: 1400px; 
    padding-left: 80px; 
    padding-top: 320px; 
} 


.flag1 {
    background-image: url(img/flag1.png);
    background-repeat: no-repeat;
    height: 300px;
    display: block;
    margin-bottom: -109px;
}

.flag2 {
    background-image: url(img/flag2.png);
    background-repeat: no-repeat;
    height: 300px;
    display: block; 
}


.text-fon {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 167.02%;
    color: #FFFFFF;
    display: inline-block;
    padding-left: 180px;
} 

.text-famous {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 167.02%;
    color: #000000;
    display: block; 
    margin-top: -25%;
}

.famous {
    margin-left: 80px;
    
}

.places {
    padding: 120px 80px 60px 80px;
}

.card {
    width: 30%;
    height: 700px;
    background: #FFFEFE;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
}

.text-card-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 167.02%;
    color: #030303;
    pa
}

.text-card-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 167.02%;
    color: #595050;
}


.UA {
    text-align: center;
}

.text-UA {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    display: block;
    color: #000000; 
}


.text-UA-img {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 167.02%;
    color: #FFFFFF;
    background-color: #33ADF1;
    width: 430px;
    height: 74px;
    padding: 0px 50px;
    margin-bottom: 180px ;
    text-align: center;
    cursor: pointer;
}

.stand {
    background-color: #0A2DA9;
    width: 100%;
    text-align: center;
}

.stand-text {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 135.02%;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 50px;
}

.gmail {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 135.02%;
    text-align: center;
    margin-bottom: 35px;
}

.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 135.02%;
    margin-bottom: 50px;
    text-align: center;
}


.ellipse {
    background-image: url(img/Ellipse\ 5.png); 
    background-repeat: no-repeat; 
    display: inline-block;
    cursor: pointer;
    margin-bottom: 70px;
    padding-bottom: 30px;
    margin-inline: 2%;
}


.simbol-TW {
    
}







3